
/*订单信息*/
/*.mainWrap h3 {font-size: 20px; padding: 15px 0 0 10px;}
.mainWrap .of .of-info { width: 930px; height: 100px; border: 1px solid #e68a8a; border-bottom: none; background: #fff2f2 url(../images/break.png)  repeat-x bottom; margin: 15px auto;}
.mainWrap .of .of-info ul {height: 30px; line-height: 30px;}
.mainWrap .of .of-info ul li { display: inline-block;*zoom:1;*display:inline; width: 250px; margin:10px 0 0 50px; color: #666;}
.mainWrap .of .of-info ul li span {color: #000;}
.mainWrap .of .of-info .green {color: #36be2f;}
.mainWrap .of .of-info .red {color: #e62222;}*/
.mainWrap { margin-top: 20px; }
.mainWrap .product {background: #f1fdf1; width: 100%; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
.mainWrap .mCon h3 {display: inline-block;*zoom:1;*display:inline; font-size: 20px; width: 140px; text-align: center; margin-top: 15px;}
.mainWrap .product .orderform { margin-left: 50px;}
.mainWrap .product .orderform img {margin: 10px 0 0 0;}
.mainWrap .product .orderform ul { color: #999;}
.mainWrap .product .orderform ul li {display: inline-block;*zoom:1;*display:inline; width: 225px; }
.mainWrap .product .orderform .gfp{color: #36be2f;}
.mainWrap .product .orderform .hou { width: 70px;}
.mainWrap .product .auto {width: 910px; margin: 0 auto;}
.mainWrap .product .title {color: #999;  border-bottom: 1px solid #dbdbdb;}
.mainWrap .product .auto ul li{display: inline-block ;*zoom:1;*display:inline;margin-left: 150px;line-height: 40px; height: 40px;}
.mainWrap .product .auto ul .body-product {width: 250px;}
/*产品信息*/
.mainWrap .pdt .pdt-info ul {border-bottom:1px solid #dbdbdb;}
.mainWrap .pdt .pdt-info .title {color: #666; margin-top: 15px;}
.mainWrap .pdt .pdt-info ul li {width: 100px; display: inline-block;*zoom:1;*display:inline; height: 40px; line-height: 40px; margin-left: 60px;}
.mainWrap .pdt .pdt-info ul .info {width: 500px;}
.placeholder {height: 160px;}
/*支付信息*/
.split h3 {border-bottom: 1px solid #dbdbdb;padding: 15px 0 15px 10px; font-size: 20px; padding-left: 25px;}
.split table {margin-left: 165px;}
.split table tr td{height: 30px; padding-left: 10px;}
.split table a { text-decoration: underline;}
.red {color: red;}

