
.mainWrap { overflow: auto;}
.sdLft{width:600px;float:left; overflow: hidden;}
.sdRgt{width:340px;float:right;}
/*左边文本*/
/*路径*/
.sdLft .index { color: #999; padding: 12px 0; border-bottom: 5px solid red;}
.sdLft .index  a { color: #999;}
/*正文*/
.sdLft h2 {font-size: 20px; font-weight: normal; text-align: center; padding: 10px 0 0 0;}
.sdLft .left-ul { text-align: center; margin-left: 5px; margin-bottom: 15px;}
.sdLft ul li {display: inline;}
.sdLft ul li span { color: #999;}
.sdLft ul li ul li a{width: 20px; height: 20px; float: left; margin-left: 5px; display: block;}
.sdLft ul li ul .qq a{background: url(../images/logo3.png) no-repeat; width: 20px; height: 20px; display: block;}
.sdLft ul li ul .xl a{background: url(../images/logo3.png) -21px 0 no-repeat; width: 20px; height: 20px; }
.sdLft ul li ul .wb a{background: url(../images/logo3.png) -45px 0 no-repeat; width: 20px; height: 20px; }
.sdLft ul li ul .rr a{background: url(../images/logo3.png) -70px 0 no-repeat; width: 20px; height: 20px; }
.sdLft ul li ul .wx a{background: url(../images/logo3.png) -91px 0 no-repeat; width: 20px; height: 20px; }
.sdLft ul li ul .jh a{background: url(../images/logo3.png) -118px 0 no-repeat; width: 20px; height: 20px; }
.sdLft .top-img {margin: 10px 0 20px 0;}
.sdLft .left-box {font-size: 14px; color: #333;}
.sdLft .left-box img {width: 600px;}
.sdLft .left-box p {line-height: 28px; font-family: none; padding-top:5px;}
.sdLft .left-box .red-border {border-left: 4px solid #e62222; background: #ffe6e6; border-top:1px solid #e5cfcf;border-bottom:1px solid #e5cfcf;border-right:1px solid #e5cfcf; margin-top: 15px;}
.sdLft .left-box .red-border p.red { font-weight: bold; font-size: 12px; margin: 0 15px;}
.sdLft .left-box .red-border .center {text-align: center;}
.sdLft .left-box .red-border .center form {padding: 10px 0 0 0;*margin-left: 40px;}

/*左边-底部*/
.sdLft .left-bottom { border: 1px solid red; *height:180px;}
.sdLft .left-bottom ul { height: 90px;  padding:20px 0 0 0;}
.sdLft .left-bottom ul li {display: block;  padding-top: 10px; color: red; font-size: 18px; font-weight: bold;}
.sdLft .left-bottom form {text-align: center; padding-bottom: 20px;  *margin-left: 80px;}
.img90 {width: 90px; height: 90px; margin: 10px 0 0 10px;}
.input {width: 200px; height: 30px; font-size: 12px;  *float: left;*margin-left: 55px; line-height:30px\9; text-indent: 10px;}
.button {width: 100px; height: 32px;font-size: 12px; *float: left; margin-left: 20px;}
.prompt {text-align: left; margin: 5px 0 5px 135px; font-size: 12px; color: #e62222;}
.p-ri {text-align: right; font-size: 12px; margin: 12px 20px 10px 0; color: #999;}
/*右边文本*/
.sdRgt .right-ul .marg {margin-bottom: 20px; }
.sdRgt .border {border: 1px solid #bdbdbd; }
/*右图*/
.sdRgt .right-topImg{padding-top: 40px;}
.right-img{ border: none;}
/*右容器-1*/
.textri {text-align: right;}
.sp {color: red;margin-left: 10px; font-size:24px;}
.sdRgt h2 {font-size: 24px; border-top: 5px solid red;padding-top: 5px;}
.sdRgt .right-box1 {padding: 15px 0 0 0; text-align: center;}
.sdRgt .bagd-1{ width: 110px!important; height: 30px; overflow: hidden; text-align: left; margin-left: 10px;}
.sdRgt .red {color: red;}
.sdRgt .blue {color: #1e338e}
.sdRgt .blue:hover {color: red;}
/*右容器-2*/
.sdRgt .right-box2 {padding: 20px;}
.sdRgt .right-box2 li {background: url(../images/triangle.png) no-repeat left center ;line-height: 30px;text-indent: 20px;}

